body {
    background-color: rgba(172, 16, 16, 0.664);
    font-family: 'Rajdhani';
}

header {
    color: rgb(211, 17, 17);
    font-size: 44px;
    font-weight: bold
}

main {
    background-color: rgba(245, 227, 224);
    /* Red Green Blue Alpha*/
    width: 960px;
    margin: 50px auto 50px auto;
    padding: 50px;
    border-radius: 30px;
}

.destaque-foto {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 0 auto;
    display: block;
    position: relative;
}


/* 
960px de largura,
Centralizado,
Padding de 20px
ícones centralizados (text-align: center) */

footer img {
    width: 40px;
    margin: 0 10px;
}

footer {
    width: 960px;
    text-align: center;
    margin: 0 auto 50px auto;
}

@font-face {
    font-family: 'Rajdhani';
    src: url(Rajdhani/Rajdhani-Medium.ttf);
    font-weight: normal;
}

ol {
    line-height: 13px;
}


/* https: //css-tricks.com/snippets/css/a-guide-to-flexbox/ */